*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#orderHistory1 table .btn
{
    background:#dc3545;
    color: #fff;
    box-shadow: none;
    border-radius:0;
}
#orderHistory1 table
{
    text-align: center;
}
#staticBackdrop .modal-footer .btn
{
    background: #dc3545;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
}
#staticBackdrop h3
{
    font-size:1.2rem;
    font-weight: bold;
}
#staticBackdrop h5
{
    
    font-weight: bold;
}
#logout .btn
{
    background: #dc3545;
    color: #fff;
    box-shadow: none;
    border-radius:0;
}