*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#complaint1 .form-control
{
    box-shadow: none;
    border: 1px solid #dc3545;
}
#complaint1 .btn
{
    background: #dc3545;
    color:#fff;
    box-shadow: none;
    border-radius: 0;
}