*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#view1 .btn
{
    background: #dc3545;
    color:#fff;
    box-shadow: none;
    border-radius: 0;
}

@media only screen and (max-width: 768px) {
    #view1 .col-lg-4
    {
        margin:10px auto;
    }
}